name: media-gallery-downloader
services:
    mgd_app:
        build: .docker
        pull_policy: build
        restart: unless-stopped
        working_dir: /app
        extra_hosts:
            - "host.docker.internal:host-gateway"
        ports:
            - 80:80
            - 443:443
            - 443:443/udp
        volumes:
            - .:/app
            - mgd_caddy_data:/data
            - mgd_caddy_config:/config
            - mgd_sqlite:/db
        tty: true

volumes:
    mgd_caddy_data:
    mgd_caddy_config:
    mgd_sqlite:
